body {
    background-color: rgb(250, 250, 250);
 }



.rock {
    text-align: center;
}

.choice {
    text-align: center;
}

/* #btnone {
   
}

#btntwo {
    
}

#btnthree {
    
} */


/* rules at foot of page */
.foot {
    background-color: gray;
    height: 120px;
}

.rules {
    text-align: center;
    color: black;
    font-weight:bold;
    padding-top: 10px;
}
